<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>This is my events page. For my coding blog, visit <a href="http://www.cfn.io">cfn.io</a><br></p>
  <p>I use UpTo to manage my events. Their app allows you to subscribe with one click. Most events will be in the San Francisco bay area.</p>
  <p>
    My personal thoughts are <br><a href="http://www.chrisfnicholson.com">here</a>.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
